# Simplest possible way to guesstimate if we need to set cluster.initial_cluster_manager_nodes or not
# If the cluster is being created now (within the last 5 minutes), we set it
# If the cluster was created more than 5 minutes ago, we assume it's already formed
CLUSTER_CREATED_TIMESTAMP={{creation_timestamp_epoch}}
CURRENT_TIMESTAMP=$(date +%s)
if [ $((CURRENT_TIMESTAMP - CLUSTER_CREATED_TIMESTAMP)) -lt 300 ]; then
  echo "Cluster created less than 5 minutes ago, setting cluster.initial_cluster_manager_nodes"
  INITIAL_CLUSTER_MANAGER_NODES='"opensearch-{{name}}-0"'
else
  echo "Cluster created more than 5 minutes ago, not setting cluster.initial_cluster_manager_nodes"
fi

# Seed hosts via the headless service
SEED_HOSTS='"opensearch-{{name}}.default.svc.cluster.local"'

# append to config/opensearch.yml
echo "network.host: 0.0.0.0" > config/opensearch.yml
echo "cluster.name: {{name}}" >> config/opensearch.yml
echo "node.name: $HOSTNAME" >> config/opensearch.yml
echo "discovery.seed_hosts: [$SEED_HOSTS]" >> config/opensearch.yml
if [ -n "$INITIAL_CLUSTER_MANAGER_NODES" ]; then
  echo "cluster.initial_cluster_manager_nodes: [$INITIAL_CLUSTER_MANAGER_NODES]" >> config/opensearch.yml
fi

cat >> config/opensearch.yml <<'YAML'
plugins.security.ssl.transport.pemcert_filepath: certs/node.crt
plugins.security.ssl.transport.pemkey_filepath: certs/node.key
plugins.security.ssl.transport.pemtrustedcas_filepath: certs/ca.crt
plugins.security.ssl.transport.enforce_hostname_verification: false
plugins.security.ssl.transport.resolve_hostname: false

plugins.security.ssl.http.enabled: false

plugins.security.authcz.admin_dn:
  - CN=admin

plugins.security.nodes_dn:
  - CN=opensearch-node

plugins.security.allow_default_init_securityindex: true
YAML

opensearch-plugin install https://github.com/opensearch-project/opensearch-prometheus-exporter/releases/download/{{prometheus_exporter_version}}/prometheus-exporter-{{prometheus_exporter_version}}.zip

# If attempting to boot the Performance Analyzer CLI with default config, it just crashes at boot with:
# Error: Could not find or load main class org.opensearch.performanceanalyzer.PerformanceAnalyzerApp
#
# It's also annoying to deploy since it has to be started as a separate process and can use up to 1GB of
# memory based tmpfs disk at /dev/shm. Performance Analyzer is currently scheduled for deprecation so lets
# focus on the prometheus metrics based approach instead for now:
# https://github.com/opensearch-project/performance-analyzer/issues/585
opensearch-plugin remove opensearch-performance-analyzer || echo "ignoring failed performance analyzer plugin removal"

{{#has_repositories}}
opensearch-plugin install repository-s3 --silent --batch

# NOTE: repository credentials are added to the opensearch keystore in a separate init container
if [ -f /tmp/keystore/opensearch.keystore ]; then
  echo "Using shared keystore from /tmp/keystore/opensearch.keystore"
  mv /tmp/keystore/opensearch.keystore config/opensearch.keystore
fi
{{/has_repositories}}

{{#repositories}}
echo "Preparing client for s3 repository '{{name}}'"

echo "s3.client.{{name}}.endpoint: {{endpoint}}" >> config/opensearch.yml
echo "s3.client.{{name}}.region: {{region}}" >> config/opensearch.yml
echo "s3.client.{{name}}.protocol: {{protocol}}" >> config/opensearch.yml
{{/repositories}}

{{#config_yaml_string}}
cat >> config/opensearch.yml <<'USER_CONFIG'

# User supplied configuration
{{{config_yaml_string}}}
USER_CONFIG
{{/config_yaml_string}}

echo "Starting OpenSearch with config:"
cat config/opensearch.yml

exec ./opensearch-docker-entrypoint.sh opensearch
